.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(150deg, #3b2296 0%, #5766f0 30%, #9155f1 120%);
}

.Quiz h1 {
  color: #fff;
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}
