.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(150deg, #3b2296 0%, #5766f0 30%, #9155f1 120%);
}

.Auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.AuthForm {
  background-image: linear-gradient(
    to top,
    #5d6bb8,
    #5b7cc2,
    #5e8dca,
    #679dcf,
    #75acd4
  );
  box-shadow: 10px 33px 44px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}
